# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual C++ files
*.obj
*.ncb
*.pch
*.ilk
*.scc

*.pdb
*.obj
*.idb
*.sdf
*.ib_pdb_index

*.bin
*.zip

Debug/
Release/
log/